.header {
  text-align: center;
}

.letter-box {
  padding: 10px;
  margin: 5px;
  float: right;
  border: 1px solid #AAA;
  border-radius: 5px;
  overflow: hidden;
}
.letter-box-letter {
  text-align: center;
  padding: 10px;
  font-size: 2em;
}
.letter-box-image {
  cursor: pointer;
}



.letter-edit {
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
}

.letter-edit-box {
  float: right;
  margin: 0;
  padding: 0;
  border: 1px solid #DDD;
}
.letter-edit-box:hover {
  border: 1px solid #222;
}
.letter-edit-box-selected {
  background-color: #333;
}


.alphabeteditor-wrapper {
  overflow: hidden;
}
.alphabeteditor-wrapper .alphabeteditor-letters {
  float: right;
  width: 50%;
}
.alphabeteditor-wrapper .alphabeteditor-letteredit {
  width: 400px;
  height: 400px;
  float: left;
}